* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .sequencer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -40px;
    margin-bottom: -15px; 
  }
  
  .sequencer {
    display: flex;
    flex-direction: column;
    margin: 25px;
    animation: bounce 1s;
  }
  
  .kick, .snare, .hi-hat, .bass {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  .cell {
    width: 75px;
    height: 75px;
    border: 1px solid white;
    border-radius: 10px;
    margin-right: 5px;
    cursor: pointer;
  }

  // .melody {
  //   width: 100%;
  //   height: 100px;
  //   background-color: #008cdd;
  //   border: 1px solid white;
  //   border-radius: 10px;
  //   margin-right: 5px;
  //   cursor: pointer;
  // }

  // #MelodyText {
  //   font-size: 75px;
  //   align-items: center;
  //   font-weight: bold;
  //   font-style: monaco;
  //   color: rgb(0, 0, 0);
  //   text-align: center;
  //   animation: bounce 5s;
  // }
  
  .kick .cell:nth-child(1),
  .snare .cell:nth-child(1),
  .hi-hat .cell:nth-child(1),
  .bass .cell:nth-child(1), 
  .kick .cell:nth-child(2),
  .snare .cell:nth-child(2),
  .hi-hat .cell:nth-child(2),
  .bass .cell:nth-child(2),
  .kick .cell:nth-child(3),
  .snare .cell:nth-child(3),
  .hi-hat .cell:nth-child(3),
  .bass .cell:nth-child(3), 
  .kick .cell:nth-child(4),
  .snare .cell:nth-child(4),
  .hi-hat .cell:nth-child(4),
  .bass .cell:nth-child(4){
    background-color: #f03e3e;
    border-left-color: white;
  }
  
  .kick .cell:nth-child(5),
  .snare .cell:nth-child(5),
  .hi-hat .cell:nth-child(5),
  .bass .cell:nth-child(5), 
  .kick .cell:nth-child(6),
  .snare .cell:nth-child(6),
  .hi-hat .cell:nth-child(6),
  .bass .cell:nth-child(6),
  .kick .cell:nth-child(7),
  .snare .cell:nth-child(7),
  .hi-hat .cell:nth-child(7),
  .bass .cell:nth-child(7), 
  .kick .cell:nth-child(8),
  .snare .cell:nth-child(8),
  .hi-hat .cell:nth-child(8),
  .bass .cell:nth-child(8) {
    background-color: #efca29;
  }
  
  .kick .cell:nth-child(9),
  .snare .cell:nth-child(9),
  .hi-hat .cell:nth-child(9),
  .bass .cell:nth-child(9), 
  .kick .cell:nth-child(10),
  .snare .cell:nth-child(10),
  .hi-hat .cell:nth-child(10),
  .bass .cell:nth-child(10),
  .kick .cell:nth-child(11),
  .snare .cell:nth-child(11),
  .hi-hat .cell:nth-child(11),
  .bass .cell:nth-child(11), 
  .kick .cell:nth-child(12),
  .snare .cell:nth-child(12),
  .hi-hat .cell:nth-child(12),
  .bass .cell:nth-child(12) {
    background-color: #3cb44b;
  }
  
  .kick .cell:nth-child(13),
  .snare .cell:nth-child(13),
  .hi-hat .cell:nth-child(13),
  .bass .cell:nth-child(13), 
  .kick .cell:nth-child(14),
  .snare .cell:nth-child(14),
  .hi-hat .cell:nth-child(14),
  .bass .cell:nth-child(14),
  .kick .cell:nth-child(15),
  .snare .cell:nth-child(15),
  .hi-hat .cell:nth-child(15),
  .bass .cell:nth-child(15), 
  .kick .cell:nth-child(16),
  .snare .cell:nth-child(16),
  .hi-hat .cell:nth-child(16),
  .bass .cell:nth-child(16){
    background-color: #008cdd;
    border-right-color: rgb(0, 0, 0);
    // background: linear-gradient(to left,#000000, #008cdd);
  }
  
  // .kick .cell:nth-child(5),
  // .snare .cell:nth-child(5),
  // .hi-hat .cell:nth-child(5),
  // .bass .cell:nth-child(5), 
  // .kick .cell:nth-child(13),
  // .snare .cell:nth-child(13),
  // .hi-hat .cell:nth-child(13),
  // .bass .cell:nth-child(13){
  //   background-color: #ff5500;
  //   border-left-color: rgb(0, 0, 0);
  //   // background: linear-gradient(to right,#000000, #ff5500);
  // }
  
  // .kick .cell:nth-child(6),
  // .snare .cell:nth-child(6),
  // .hi-hat .cell:nth-child(6),
  // .bass .cell:nth-child(6),
  // .kick .cell:nth-child(14),
  // .snare .cell:nth-child(14),
  // .hi-hat .cell:nth-child(14),
  // .bass .cell:nth-child(14){
  //   background-color: #a53ed5;
  // }
  
  // .kick .cell:nth-child(7),
  // .snare .cell:nth-child(7),
  // .hi-hat .cell:nth-child(7),
  // .bass .cell:nth-child(7),
  // .kick .cell:nth-child(15),
  // .snare .cell:nth-child(15),
  // .hi-hat .cell:nth-child(15),
  // .bass .cell:nth-child(15){
  //   background-color: #47d1d1;
  // }
  
  // .kick .cell:nth-child(8),
  // .snare .cell:nth-child(8),
  // .hi-hat .cell:nth-child(8),
  // .bass .cell:nth-child(8),
  // .kick .cell:nth-child(16),
  // .snare .cell:nth-child(16),
  // .hi-hat .cell:nth-child(16),
  // .bass .cell:nth-child(16){
  //   background-color: #eee;
  //   border-right-color: gray;
  // }
  
  .kick .cell:nth-child(1).active,
  .snare .cell:nth-child(1).active,
  .hi-hat .cell:nth-child(1).active,
  .bass .cell:nth-child(1).active, 
  .kick .cell:nth-child(2).active,
  .snare .cell:nth-child(2).active,
  .hi-hat .cell:nth-child(2).active,
  .bass .cell:nth-child(2).active,
  .kick .cell:nth-child(3).active,
  .snare .cell:nth-child(3).active,
  .hi-hat .cell:nth-child(3).active,
  .bass .cell:nth-child(3).active, 
  .kick .cell:nth-child(4).active,
  .snare .cell:nth-child(4).active,
  .hi-hat .cell:nth-child(4).active,
  .bass .cell:nth-child(4).active {
    background: linear-gradient(to top,#000000, #f03e3e);
  }

  .kick .cell:nth-child(5).active,
  .snare .cell:nth-child(5).active,
  .hi-hat .cell:nth-child(5).active,
  .bass .cell:nth-child(5).active, 
  .kick .cell:nth-child(6).active,
  .snare .cell:nth-child(6).active,
  .hi-hat .cell:nth-child(6).active,
  .bass .cell:nth-child(6).active,
  .kick .cell:nth-child(7).active,
  .snare .cell:nth-child(7).active,
  .hi-hat .cell:nth-child(7).active,
  .bass .cell:nth-child(7).active, 
  .kick .cell:nth-child(8).active,
  .snare .cell:nth-child(8).active,
  .hi-hat .cell:nth-child(8).active,
  .bass .cell:nth-child(8).active  {
  background: linear-gradient(to top,#000000, #efca29);
}

.kick .cell:nth-child(9).active,
  .snare .cell:nth-child(9).active,
  .hi-hat .cell:nth-child(9).active,
  .bass .cell:nth-child(9).active, 
  .kick .cell:nth-child(10).active,
  .snare .cell:nth-child(10).active,
  .hi-hat .cell:nth-child(10).active,
  .bass .cell:nth-child(10).active,
  .kick .cell:nth-child(11).active,
  .snare .cell:nth-child(11).active,
  .hi-hat .cell:nth-child(11).active,
  .bass .cell:nth-child(11).active, 
  .kick .cell:nth-child(12).active,
  .snare .cell:nth-child(12).active,
  .hi-hat .cell:nth-child(12).active,
  .bass .cell:nth-child(12).active {
  background: linear-gradient(to top,#000000, #3cb44b);
}

.kick .cell:nth-child(13).active,
  .snare .cell:nth-child(13).active,
  .hi-hat .cell:nth-child(13).active,
  .bass .cell:nth-child(13).active, 
  .kick .cell:nth-child(14).active,
  .snare .cell:nth-child(14).active,
  .hi-hat .cell:nth-child(14).active,
  .bass .cell:nth-child(14).active,
  .kick .cell:nth-child(15).active,
  .snare .cell:nth-child(15).active,
  .hi-hat .cell:nth-child(15).active,
  .bass .cell:nth-child(15).active, 
  .kick .cell:nth-child(16).active,
  .snare .cell:nth-child(16).active,
  .hi-hat .cell:nth-child(16).active,
  .bass .cell:nth-child(16).active {
  background: linear-gradient(to top,#000000, #008cdd);
}

// .kick .cell:nth-child(5).active,
// .snare .cell:nth-child(5).active,
// .hi-hat .cell:nth-child(5).active,
// .bass .cell:nth-child(5).active,
// .kick .cell:nth-child(13).active,
//   .snare .cell:nth-child(13).active,
//   .hi-hat .cell:nth-child(13).active,
//   .bass .cell:nth-child(13).active {
//   background: linear-gradient(to top,#000000, #ff5500);
// }

// .kick .cell:nth-child(6).active,
// .snare .cell:nth-child(6).active,
// .hi-hat .cell:nth-child(6).active,
// .bass .cell:nth-child(6).active,
// .kick .cell:nth-child(14).active,
//   .snare .cell:nth-child(14).active,
//   .hi-hat .cell:nth-child(14).active,
//   .bass .cell:nth-child(14).active {
//   background: linear-gradient(to top,#000000, #a53ed5);
// }

//   .kick .cell:nth-child(7).active,
//   .snare .cell:nth-child(7).active,
//   .hi-hat .cell:nth-child(7).active,
//   .bass .cell:nth-child(7).active,
//   .kick .cell:nth-child(15).active,
//   .snare .cell:nth-child(15).active,
//   .hi-hat .cell:nth-child(15).active,
//   .bass .cell:nth-child(15).active {
//     background: linear-gradient(to top,#000000, #47d1d1);
//   }

//   .kick .cell:nth-child(8).active,
//   .snare .cell:nth-child(8).active,
//   .hi-hat .cell:nth-child(8).active,
//   .bass .cell:nth-child(8).active,
//   .kick .cell:nth-child(16).active,
//   .snare .cell:nth-child(16).active,
//   .hi-hat .cell:nth-child(16).active,
//   .bass .cell:nth-child(16).active{
//     background: linear-gradient(to top,#000000, #eee);
//   }
  

  .controls {
    display: flex; 
    flex-direction: row;
    align-items: center;
    height: 100%;
    width: 100%;
    margin-bottom: 50px;
    margin-top: 45px;
    animation: bounce 3s;
    max-width: 800px; 
    justify-content: space-around; 
    margin-left: 290px;
  }

  #play {
    display: inline;
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: transform 0.2s ease-out;
  }

  #play-img {
    width: 60px;
    height: 60px;
    display: flex;
    -webkit-filter: grayscale(1) invert(1);
    filter: grayscale(1) invert(1);
  }

  #pause-img {
    width: 75px;
    height: 75px;
    display: flex;
    filter: contrast(100%);
    margin-left: -30px;
  }

  
  #save-button {
    width: 30px;
    height: 30px;
    display: flex;
    -webkit-filter: grayscale(1) invert(1);
    filter: grayscale(1) invert(1);
  }


  #pause {
    margin-left: 40px;
    margin-right: -10px;
    display: inline;
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: transform 0.2s ease-out;
  }

  #play:hover {
    transform: scale(1.3);
  }

  #pause:hover {
    transform: scale(1.3);
  }
  
  #volume {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 16px;
    font-size: 20px;
    color: #ffffff;
    transition: transform 0.2s ease-out;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    font-family: 'Montserrat', sans-serif;
    border: 1px solid black;
    margin-right: -10px;
    margin-left: -5px;
  }

  #mute {
    display: inline;
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: transform 0.2s ease-out;
    margin-right: -20px;
  }

  #mute-img {
    width: 75px;
    height: 75px;
    -webkit-filter: grayscale(1) invert(1);
    filter: grayscale(1) invert(1);
  }
  
  #volumeinput {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 16px;
    font-size: 16px;
    color: #ffffff;
  }

  #volumeinput:hover {
    transform: scale(1.1);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
  }

  #mute:hover {
    transform: scale(1.3);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
  }

  
  #bpm {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 16px;
    font-size: 20px;
    color: #ffffff;
    border: none;
    transition: transform 0.2s ease-out;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    font-family: 'Montserrat', sans-serif;
    // margin-left: px;
    margin-right: -5px;
  }
  
  #bpmvalue {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 16px;
    font-size: 20px;
    margin-left: 10px;
    cursor: pointer;
    transition: transform 0.2s ease-out;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    font-family: 'Montserrat', sans-serif;
  }
  
  #bpmvalue:hover {
    transform: scale(2.0);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
  }


  @keyframes bounce {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
    100% {
      transform: translateY(0);
    }
    }

#header {
  display: flex;
  // position: absolute;
  // justify-content: center;
  // align-items: center;
  height: 100%;
  // animation: bounce 1s;
  border-radius: 8px;
  padding: 16px;
  font-size: 16px;
  color: #fff;
 //   transform: translate(-50%, -50%);
  // animation: scroll-left 10s linear infinite;
  margin-bottom: 20px;
}

#logo {
  justify-content: center;
  align-items: center;
  // animation: bounce 3s;
  // padding: 10px;
  width: 30%;
  cursor: pointer;
  display: flex;
  margin-left: 465px;
  margin-bottom: -300px;
  margin-top: 50px;
  // margin-left: 50px;
  height: 50%;
}

#logo:hover {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
}

.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  // animation: bounce 3s;
  border-radius: 8px;
  padding: 16px;
  font-size: 16px;
  color: #fff;
  margin-bottom: 20px;
}

#github-logo {
  width: 65px;
  height: 65px;
  border-radius: 0%;
  -webkit-filter: grayscale(1) invert(1);
  filter: grayscale(1) invert(1);
  margin-bottom: -10px;
  margin-top: 40px;
  // object-fit: scale-down

}

#github {
  background: #000;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 16px;
  padding: 16px;
  // font-size: 16px;
  color: #fff;
  // margin-bottom: -10px;
}



#save {
  background: #000;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  padding: 16px;
  font-size: 16px;
  color: #fff;
  margin-right: 10px;

}

// #social {
//   background: #000;
//   box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
//   border-radius: 8px;
//   padding: 16px;
//   font-size: 16px;
//   color: #fff;
// }

#save:hover {
  transform: scale(1.1);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
}

body {
  margin: 0 auto;
  background-color: #000000;
}
  
.instrument-name {
  color: #fff;
}

.rainbow {
  animation: rainbow 10s infinite;
}

@keyframes rainbow {
  0% {
    background-color: red;
  }
  16% {
    background-color: orange;
  }
  33% {
    background-color: yellow;
  }
  50% {
    background-color: green;
  }
  67% {
    background-color: blue;
  }
  84% {
    background-color: indigo;
  }
  100% {
    background-color: violet;
  }
}

#letter {
    font-size: 75px;
    font-weight: bold;
    font-style: monaco;
    color: rgb(0, 0, 0);
    text-align: center;
    animation: bounce 5s;
}

.piano-roll {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

// #note {
//   width: 40px;
//   height: 100px;
//   margin: 2px;
//   // border: 1px solid black;
//   border: 1px solid white;
//   animation: bounce 3s;
//     border-radius: 10px;
// }

.note {
  width: 75px;
  height: 100px;
  margin: 2px;
  // border: 1px solid black;
  border: 1px solid white;
  animation: bounce 3s;
    border-radius: 10px;
}

.note.playing {
  background: linear-gradient(to top,#000000, #ffffff);

}


.C4 {
  background-color: white;
}

.c-sharp {
  background-color: black;
  margin-left: -20px;
  width: 20px;
  height: 70px;
}

.D4 {
  background-color: white;
}

.d-sharp {
  background-color: black;
  margin-left: -20px;
  width: 20px;
  height: 70px;
}

.E4{
  background-color: white;
}

.F4{
  background-color: white;
}

.f-sharp {
  background-color: black;
  margin-left: -20px;
  width: 20px;
  height: 70px;
}

.G4 {
  background-color: white;
}

.g-sharp {
  background-color: black;
  margin-left: -20px;
  width: 20px;
  height: 70px;
}

.A4 {
  background-color: white;
}

.a-sharp {
  background-color: black;
  margin-left: -20px;
  width: 20px;
  height: 70px;
}

.B4 {
  background-color: white;
}

.C5 {
  background-color: white;
}

.c-sharp2 {
  background-color: black;
  margin-left: -20px;
  width: 20px;
  height: 70px;
}

.D5 {
  background-color: white;
}

.d-sharp2 {
  background-color: black;
  margin-left: -20px;
  width: 20px;
  height: 70px;
}

.E5 {
  background-color: white;
}

.F5 {
  background-color: white;
}

.f-sharp2 {
  background-color: black;
  margin-left: -20px;
  width: 20px;
  height: 70px;
}

.G5 {
  background-color: white;
}

.g-sharp2 {
  background-color: black;
  margin-left: -20px;
  width: 20px;
  height: 70px;
}

.A5 {
  background-color: white;
}

.a-sharp2 {
  background-color: black;
  margin-left: -20px;
  width: 20px;
  height: 70px;
}

.B5 {
  background-color: white;
}

// .startText {
//   font-size: 20px;
//   font-weight: bold;
//   font-style: monaco;
//   color: white;
//   margin-top: 400px;
//   width: 75%;
//   height: 30px;
//   margin-left: 150px;
//   // text-align: center;

//   // text-align: 
//   // animation: bounce 5s;

// }

.blurb {
  color: white;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 15px;
  width: 75%;
  letter-spacing: 2px;
  line-height: 1.5;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  text-transform: uppercase;
  margin-left: 150px;
  margin-top: 200px;
}



